body {
  font-family: "Playfair Display", serif;
  font-family: "Poppins", sans-serif;
}

.container {
  padding: 0 15px;
}

.language {
  display: flex;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  /* identical to box height */

  color: #ffffff;
  gap: 6px;
}

.profile {
  display: flex;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  /* identical to box height */

  color: #ffffff;
  gap: 16px;
}

.profile img,
.language img {
  max-width: 24px;
  max-height: 24px;
}

@media (max-width:505px) {
  .language, .profile{
    font-size: 14px;
    line-height: 20px;
  }
}

.title-main {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;

  /* or 84px */
}

.subtitle-main {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;

}

.btn-white {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 182.3%;
  /* or 29px */

  color: #2f2d52;
  background: #ffffff;
}

.backgraund-white {
  position: absolute;
  left: 0;
  background: #f4fffe;
  opacity: 100%;
  width: 70%;
  height: 100%;
  z-index: -1;
}
